// app global css in SCSS form

.br-10 {
  border-radius: 1rem
}
.br-9 {
  border-radius: 0.9rem
}
.br-8 {
  border-radius: 0.8rem
}
.br-7 {
  border-radius: 0.7rem
}
.br-6 {
  border-radius: 0.6rem
}
.br-5 {
  border-radius: 0.5rem
}
.br-4 {
  border-radius: 0.4rem
}
.br-3 {
  border-radius: 0.3rem
}



